.dataTables{
  width: 96% !important;
  height: auto;
  margin: 20px auto 0 !important;
  border: 2px solid rgb(216, 214, 214);
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgb(216, 214, 214);
}

@media screen and (max-width: 600px) {
  .dataTables{
    width: 100% !important;
    height: auto;
    border: none;
  }
  
}